@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    font-size: 62.5%;
}

.navbar {
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 10px black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.navbar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem;
}

.navbar-header_logo {
    color: green;
    font-size: 3.4rem;
    cursor: pointer;
}

.navbar-header_toggle {
    width: 3.4rem;
    height: 3.4rem;
    color: green;
    background: none;
    border: 2px solid green;
    font-size: 2.4rem;
    cursor: pointer;
}

.navbar-list {
    height: 0;
    background-color: lightgrey;
    list-style: none;
    overflow: hidden;
    transition: ease-in-out 0.4s all;
}

.navbar-list_link {
    color: black;
    display: block;
    padding: 1.6rem;
    font-size: 1.6rem;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    transition: ease 0.5s all;
}

.navbar-list_link:hover {
    color: white;
    background-color: green;
}

.navbar-list--show-links {
    height: 100vh;
}

.navbar-icons {
    display: none;
}

@media screen and (min-width: 960px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.6rem;
    }

    .navbar-header {
        padding: 0;
    }

    .navbar-header_toggle {
        display: none;
    }

    .navbar-list {
        height: auto;
        display: flex;
        align-items: center;
        gap: 3.2rem;
        padding: 0;
        background: none;
    }

    .navbar-list_link {
        transition: ease-in-out 0.2s all;
    }

    .navbar-list_link:hover {
        color: green;
        background: none;
        transform: scale(1.2);
    }

    .navbar-icons {
        display: flex;
        list-style: none;
        align-items: center;
        gap: 2rem;
    }

    .navbar-icons_link {
        display: inline-block;
        color: black;
        font-size: 1.6rem;
        padding: 1rem;
        text-align: center;
        text-decoration: none;
        background-color: white;
        border-radius: 50%;
        box-shadow: 0px 0px 10px black;
        transition: ease-in-out 0.2s all;
    }

    .navbar-icons_link:hover {
        color: green;
        transform: scale(1.2);
    }
}