@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #979595;
}

.box-copy {
    padding: 16px;
    background-color: #3b3a3a;
    box-shadow: 5px 5px 5px #00000096;
}

.box-copy h3 {
    color: white;
}

.toolscopy {
    margin: 20px 0px;
}

.toolscopy input {
    width: 70%;
    padding: 10px;
    border: none;
    font-size: 24px;
    border-radius: 5px;
    outline: none;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    background-color: royalblue;
    transition: all .2s ease-in-out;
}

button:hover {
    opacity: 0.7;
    background-color: darkblue;
}